#access{
    // 見やすいよう
    background-color: #A193861F;
    // position: relative;
    // display: flex;
    padding-top: 20rem;
    @include sp{
        padding-top: 10rem;
    }
    padding-bottom: 7rem;
}
.access-wrap{
    background-color: #D0C5BA;
    // position: relative;
    display: flex;
    @include sp{
        flex-direction: column-reverse;
    }
}
// .access-title{
// }
.address-inner{
    // width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10.1rem;
    padding-bottom: 8rem;

    // かなり無理やり
    @include pc{
        padding-left: 7.5%;
    }
    @include tab{
        padding-left: 7.5%;
    }
    @include sp{
        padding-top: 32rem;
        margin-left: 0;
    }
}
.address{
    font-size: 1.6rem
}
.address-title{
    color: #00000038;
    font-size: 2.4rem;
}
.address-txt{
    ul{
        li{
            color: #FFFFFF;
            margin-top: 3rem;    
        }
    }
}    

// ここが変　無理やり
.map{
    position: absolute;
    // position: relative;
    top: 0;
    right: 0;
    width: 100%;
        @include sp{
            height: 30rem;
        }

    height: 100%;
    iframe{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    
}