#access{
    // 見やすいよう
    background-color: #A193861F;
    // position: relative;
    // display: flex;
    padding-top: 261px;
    padding-bottom: 70px;
}
.access-wrap{
    background-color: #D0C5BA;
    position: relative;
}
// .access-title{
// }
.address-inner{
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address{
}
.map{
    height: 400px;
    iframe{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    
}