#container-1{
width: 100%;
height: 800px;
background-image: url(/img/img7.png);
background-repeat: no-repeat;
background-size: 50% 100%;
background-position: right top;
}

#container-2{
height: 407px;
background-color: grey;
}


#container-3{

}


#container-4{


}
