#concept{
    // 見やすいよう
    padding-top: 200px;
}
.concept-item{
    display: flex;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
    }
    img-2{
        width: 100%;
        height: 100%;
    }

}