
.concept{
    padding-top: 256px;
    // width: 95%;
    .title{
        font-size: 20px;
    }
    .concept-wrap{
        // width: 100%;
        display: flex;
        padding-left: 5%;
        text-align: center;
        height: 413px;
        .img-2{
            // display: inline-block;
            width: 650px;
            // width: 100rem;
        }
        .img-3{
            // display: inline-block;
            padding-left: 11px;
            width: 391px;
        }
    }
}
