#concept{
    // 見やすいよう
    // padding-top: 200px;
}
.concept-item__wrap{
    background-color: #A193861F;
    // padding-top: 130px;
}
.concept-item__inner{
    top: 256px;
}
.concept-item{
    width: 100%;
    display: flex;
    // position: absolute;
    // img{
    //     width: 100%;
    //     height: 100%;
    // }
    &__img-2{
        padding-left: 10px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.concept-theme__wrap{
    background-color: #A1938689;
}
.concept-txt{
    color: #FFFFFF;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-top: 36rem;
    padding-bottom: 64px;
    &__theme{
        font-size: 4rem;
        margin-top: 2rem;
    }
    &__txt{
        width: 42.2rem;
        font-size: 1.6rem;
        line-height: 1.6;
    }
}