#container-1{
height: 800px;
background-image: url(/img/img7.png);
background-repeat: no-repeat;
background-size: 60% 100% ;
background-position: right top;
}

#container-2{
height: 407px;
background-color: #A193861F;
// text-align: center;
}


#container-3{
height: 560px;
background-color: #A1938689;
}


#container-4{


}
