
.concept{
    padding-top: 256px;
    padding-left: 5%;
    .title{
        font-size: 20px;
    }
    .concept-wrap{
        // width: 100%;
        display: flex;
        // padding-left: 5%;
        text-align: center;
        height: 413px;
        .img-2{
            // display: inline-block;
            width: 650px;
            // width: 100rem;
        }
        .img-3{
            // display: inline-block;
            padding-left: 11px;
            width: 391px;
        }
    }
}

.concept-txt{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 389px;
    .concept-txt__theme{
        // padding-bottom: 129px;
        font-size: 40px
    }
    .concept-txt__txt{
        // padding-bottom: 60px;
        margin-left: 57px;
    }

}
