#container-1{
    width: 1260px;
    height: 800px;
    background-image: url(/img/img7.png);
    background-repeat: no-repeat;
    background-size: 57% 100% ;
    background-position: right top;
}

#container-2{
    width: 1260px;
    height: 407px;
    background-color: #A193861F;
    // text-align: center;
}


#container-3{
    width: 1260px;
    height: 560px;
    background-color: #A1938689;
}


// #container-4{
//     height: 2020px;
//     width: 1260px;

// }
