
.concept-item__wrap{
    background-color: #A193861F;
    // height: 200px;
    // padding-top: 10rem;
}
.concept-item__inner{
    top: 20rem;
    @include sp{
        top: 10rem;
    }
    padding-top: 10rem;
}
.concept-item{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    // position: absolute;
    // img{
    //     width: 100%;
    //     height: 100%;
    // }
    &__img-2{
        // width: 100%;
        padding-left: 10px;
    }
    @include sp{
        // flex-direction: column;
    }
}
.concept-theme__wrap{
    background-color: #A1938689;
    // height: 35rem;
}
.concept-txt{
    color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 25rem;
    padding-bottom: 6rem;
    @include sp{
        padding-top: 15rem;
        flex-direction: column;
        text-align: center;
    }

    &__theme{
        font-size: 3rem;
        margin-top: 2rem;
        @include sp{
            font-size: 2rem;
        }
    }
    &__txt{
        width: 40%;
        // font-size: 1.6rem;
        line-height: 1.6;
        @include sp{
            width: 100%;
            margin-top: 2rem;
        }
    }
}