
.concept{
    padding-top: 256px;
    padding-left: 5%;
    .title{
        color: #707070;
        width: 234px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        margin-bottom: 11px;
            &::after{
                display: inline-block;
                content:"";
                border-top: 1px solid  ;
                width: 50%;
            }
    }
    .concept-wrap{
        width: 100%;
        display: flex;
        // padding-left: 5%;
        // text-align: center;
        height: 413px;
        .img-2{
            // display: inline-block;
            width: 65rem;
            // width: 100rem;
        }
        .img-3{
            // display: inline-block;
            padding-left: 11px;
            width: 39.1rem;
        }
    }
}

.concept-txt{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 389px;
    &__theme{
        // padding-bottom: 129px;
        font-size: 40px
    }
    &__txt{
        // padding-bottom: 60px;
        margin-left: 57px;
    }

}
