#first-v{

    // background-size: cover;
    .first-v__wrap{
        display: flex;
        h1{
            width: 326px;
            font-size: 1.8rem;
            margin-left: 160px;
        }
        .catch{
            width: 390px;
            margin-top: 48px;
            margin-left: 127px;
            font-style: italic;
        }
    }
}
    