.first-v__wrap{
    // text-align: center;
    margin-top: 190px;
    h1{
        // width: 326px;
        font-size: 36px;
        margin-left: 160px;
    }
    .catch{
        // width: 390px;
        margin-top: 48px;
        margin-left: 107px;
        font-size: 50px;
        font: normal normal normal 38px/128px Zapfino;
    }
}
    