#first-v{
    display: flex;
    justify-content: space-between;
    width: 126rem;
    height: 800px;

    .first-v__theme{
        margin-top: 200px;
    }
    .first-v__img{
        img{
            width: 100%;
            height: 100%;
        }
    }
}
