#first-v{
    height: 800px;
    background-color: #fff;
    display: flex;
    .first-v__wrap{
        width: 100%;
        margin-top: 300px;
        h1{
            width: 326px;
            height: 38px;
            font-size: 1.8rem;
            margin-left: 160px;
        }
        .catch{
            width: 390px;
            height: 128px;
            margin-top: 48px;
            margin-left: 127px;
            font-size: 3rem;
            font-style: italic;
        }
    }

    .img{
        width: 60%;
        margin-left: 104px;
        background-size: cover;
    }
}