footer{
    background-color: #fff;
    padding-bottom: 60px;
}
.footer-wrap{
    border-top: 1px solid #70707036;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    display: flex;
    align-items: center;
}