footer{
    background-color: #fff;
    padding-bottom: 60px;
    margin-top: 17rem;
}
.footer-wrap{
    border-top: 1px solid #70707036;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    display: flex;
    align-items: center;
    p{
        color: #7070704D;
        font-size: 3.2rem;
    }
    i{
        margin-left: 2rem;
        font-size: 2rem;
    }
}
