header{
    width: 100%;
    // position: relative;
    // @include pc{
        position: absolute;
    //     // z-index: 20;
    // }

}
.header-inner{
    // width: 100%;
    // padding-top: 70px;
    padding-left: 70px;
    display: flex;
    align-items: center;
}
.header-logo{
    width: 50%;
    // font-size: 3.8rem;
    letter-spacing: 0.1em;
    white-space: nowrap;
}
nav{
    width: 45%;
    color: #707070;

    @include sp{
        display: none;
    }
    ul{
        display: flex;
        // font-size: 1.8rem;
        li{
            margin-left: 2rem;
        }
    }
}

.ham{
    display: none;

        @include sp{
            display: flex;
            width: 25px;
            height: 14px;
            justify-content: space-between;
            flex-direction: column;
            span{
                display: inline-block;
                width: 100%;
                height: 1px;
                background-color: #fff;
            }
        }
}