header{
    width: 106rem;
    display: flex;
    align-items: center;
    position: relative;
    position: absolute;
    z-index: 20;
}
.header-logo{
    font-size: 20px;
}
.header-nav {
    ul{
        display: flex;
    }
}
