header{
    // position: relative;
    position: absolute;
    z-index: 20;
}
.header-inner{
    padding-top: 70px;
    padding-left: 70px;
    display: flex;
    align-items: center;
}
.header-logo{
    font-size: 3.8rem;
    letter-spacing: 0.1em;
}
.header-nav{
    color: #707070;
    ul{
        display: flex;
        font-size: 1.8rem;
        li{
            margin-left: 2rem;
        }
    }
}
