header{
    width: 100%;
    // position: relative;

    // header 浮かすやつ
    // @include pc{
        position: absolute;
        z-index: 20;
    // }
    @include sp{
        background-color: #ffffff;
    }

}
.header-inner{
    // width: 100%;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    display: flex;
    align-items: center;
    @include sp{
        height: 7rem;
        justify-content: space-between;

    }
}
.header-logo{
    // width: 50%;
    font-size: 3.8rem;
    @include sp{
        font-size: 2rem;
    }
    // letter-spacing: 0.1em;
    // white-space: nowrap;
}
nav{
    width: 30%;
    color: #707070;
    font-size: 1.5rem;


    @include sp{
        display: none;
    }
    ul{
        display: flex;
        // font-size: 1.8rem;
        li{
            margin-left: 2rem;
        }
    }
}

.ham{
    display: none;

        @include sp{
            display: flex;
            width: 20px;
            height: 14px;
            justify-content: space-between;
            flex-direction: column;
            span{
                display: inline-block;
                width: 100%;
                height: 2px;
                background-color: #000;
            }
            & span:nth-child(3){
                width: 50%;
            }
        }
}