// pc画面サイズ以上
@mixin pc {
    @media (min-width:1001px){
        @content;
    }
}

@mixin tab {
    @media (max-width:1000px){
        @content;
    }
}
// スマホ画面サイズ以下
@mixin sp {
    @media (max-width:600px){
        @content;
        @media only screen{
            .img-pc{
                display: none;
            }
            .img-sp{
                display: block;
            }
        }
    }
}

.img-sp{
    display: none;
}


HTML{
    font-size: 62.5%;
}
.inner{
    width: 85%;
    margin: 0 auto;
    position: relative;
}
.full-size__inner{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
// h2{
//     margin-left: 10rem;
// }
.title{
    color: #707070;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    @include sp{
        margin-bottom: 5rem;
    }
    font-size: 1.8rem;
    letter-spacing: 0.3em;
    &::after{
        content: "";
        width: 100px;
        @include sp{
            width: 50px;
        }
        border-top: 1px solid #000;
        margin-left: 2rem;
    }
}
img{
    width: 100%;
    height: 100%;
}
.btn{
    border: 1px solid #707070;
    text-align: center;
    padding: 1rem;
    font-size: 1.8em;
    color: #707070;
     @include sp{
        width: 50%;
        margin: 0 auto;
     }
}