HTML{
    // background-color: #A193861F;
    font-size: 62.5%;
}
.inner{
    width: 106rem;
    margin: 0 auto;
}
// h2{
//     margin-left: 10rem;
// }
.title{
    margin-bottom: 5px;
}
.bgc-gray{
    background-color: #A1938689;
}