#menu{
    padding-top: 20rem;
    background-color: #FFFFFF;
}
.menu-wrap{
    display: flex;
    justify-content: space-between;
    
    @include sp{
        flex-direction:column;
        align-items: center;
    }
}
.menu-item{
    // 274/1060
    width: 26%;
    @include sp{
        width: 100%;
    }
    padding-bottom: 6rem;
}
.menu-content{
    width: 80%;
    margin: 0 auto;
    @include sp{
        width: 100%;
        padding-left: 1rem;
    }
    p{
        margin-top: 3.4rem;
        font-size: 1.6rem;
    }
    & p:nth-child(1){
        text-align: center;
        @include sp{
            text-align: left;
        }
        font-size: 3rem;
    }
    & p:nth-child(3){
        text-align: right;
    }
    }