#menu{
    padding-top: 200px;
    background-color: #FFFFFF;
}
.menu-wrap{
    display: flex;
    justify-content: space-between;
}
.menu-item{
    // 274/1060
    width: 26%;
}
.menu-content{
    padding: 20px;
    & p:nth-child(1){
        text-align: center;
    }
    & p:nth-child(3){
        text-align: right;
    }
    }